@charset "utf-8";
/* CSS Document */

body { background-color: #e0e0e0; } 
#cinab-main-nav { background-color: #111; }
	#cinab-main-nav nav.navbar-default { background-color: inherit; border: none; margin-bottom: 0; }
	.nav > li > a:hover,
	.nav > li > a:focus { background-color: #333; }
	.btn-reverse { background-color: #222; border-color: #292929; color: #fff; }
	.btn-reverse:hover { background-color: #333; border-color: #393939; color: #d7d7d7; } 
#page-title h1 { font-size: 24px; line-height: 1; } 
#primary-content { /* background-color: #fff; */ border-radius: 15px; padding: 10px 15px; width: 1160px; } 
#primary-content .row { background-color: #fff; border-bottom: 1px solid #b0b0b0; box-shadow: #bbb 0px 1px 12px; margin-bottom: 20px; padding-bottom: 20px; }

/* data table */

.dataTable thead th { background-color: #f0f0f0; padding-right: 19px !important; } 
	.dataTable thead th.sorting_asc, .dataTable thead th.sorting_desc { background-color: #fff; } 
/*	.dataTable thead th.sorting_asc { 
		background: url(css-images/caret-up.png) right bottom no-repeat; 
	}
	.dataTable thead th.sorting_desc { 
		background: url(css-images/caret-down.png) right bottom no-repeat; 
	} */
.inline-command { font-size: 10px; padding-left: 15px; }
.inline-command, .inline-command a { color: #999; }

.dataTables_wrapper .top, 
.dataTables_wrapper .bottom { background: inherit; margin: 0 -15px; overflow: auto; } 
.dataTables_wrapper .top { background-color: #f0f0f0; padding: 10px;  } 
.top .form-control { width: inherit; }
.pagination { margin: 0; } /* overwrites bootstrap */
div.dataTables_filter label { float: none; } /* overwrites DT_bootstrap.css */
.dataTables_wrapper .dataTables_length { float:right; margin-right: 15px; margin-top: 4px; } /* overwrites DT_bootstrap.css */
.dataTables_wrapper .dataTables_length label { font-weight: normal; float:none; margin: 0px; }
.dataTables_wrapper .dataTables_filter { float: none; text-align: left } /* overwrites jquery.dataTables.css */
#filter-status-container { margin-left: 15px; }

.dataTable tbody tr.delivered { background-color: #e4efff; color: #444; }
.dataTable tbody tr.delivered td.statusListing:after { content: " - Delivered" }

/* custom form styles */

.form-group.required { color: #b94a48; } 
.form-group.required label:after { content: ' *'; }
.required .form-control { border-color: #b94a48; }

