@charset "utf-8";
/* CSS Document */

body {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 100%;
}
label {
	display:block;
	font-size:12px;
}
input.required {
	color:red;
	border:1px solid red;
}
.other-orders {
	background-color: #f7f7f7;
	float:left; 
	font-size: 12px;
	margin: 0 10px; 
	padding:0 10px; 
	width: 300px;
}
td, th {
	padding:0 10px;
}
.tablesorter th { 
	background-color: #e0e0e0; 
	cursor: pointer;
}
.tablesorter th.headerSortDown, .tablesorter th.headerSortUp { 
	background-color: #d0d0d0;
}
.ui-widget {
	font-family: Calibri,Arial,sans-serif;
	font-size: 0.85em/*{fsDefault}*/;
}
/* table row styles */
	
	.ui-tabs-panel tr:nth-child(2n+1) { 
		background-color: #f7f7f7; 
	}
	
	tr.delivered { 
		color: #999;
		background-color: #e4efff;
	}
	tr.delivered:nth-child(2n+1) { 
		background-color: #dee7f7;
	}
	
	.ui-tabs-panel ul { 
		margin: 0;
	}